.register-page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.register-page-container {
    flex: 1;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    background: url('/src/assets/recording-studio-esempio.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 60px;
}

.image-container-register {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.image-overlay {
    max-width: 600px;
}

.overlay-text {
    font-size: 1.2rem;
    text-align: left;
}

.form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px; 
}

@media (max-width: 768px) {
    .overlay-paragraph-register {
        display: none; /* Hide the paragraph on small screens */
    }

    .register-page-container {
        flex-direction: column; /* Stack text and form vertically */
    }
}